@charset "UTF-8";
body {
    background-color: #FFFFFF;
}

textarea {
    resize: none;
}

#main-content {
    max-width: 80%;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#content{
    height: 50%;
}

.header-login{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: -15px;
    margin-right:-15px;
}

.login-container{
    display:flex;
    justify-content:flex-end;
    margin-left:100px;
    margin-right:0px;
}
.login-container .login-form{
    display:flex;
    justify-content: flex-end;
    min-width: 768px;
}
.login-form a{
    margin-left:5px;
}

.column-div{
    display:inline-block;
    flex-direction: column;
    margin-left: 3px;
}

.row-nav-div{
    display:flex;
    flex-direction: row;
    background-color: #f7f7f9;
    min-height: 40px;
    border:1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    align-items: center;
}
.select-style{
    min-height: 27px;
    border-width:0;
    background-color: transparent;
    font-size:15px;
}
.input-style{
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:15px;
    padding:6px 12px;
    width: 300px;

}
.search-btn{
    padding:6px 12px;
    margin-bottom: 0;
    font-size:15px;
    font-weight: normal;
    text-align:center;
    white-space: nowrap;
    border:1px solid #ccc;
    background-color: #FFFFFF;
    border-radius: 4px;
    vertical-align: middle;
    margin-left:-6px;
}
.nav-form{
    width:50%;
}
.nav-login{
    padding-left: 0;
    width:50%;
    display:flex;
    justify-content: flex-end;
}
.table{
    background-color: #f8f8f8;
    border:1px solid #ddd;
    border-radius:4px;
    margin-bottom: 5px;
}
.userName{
    padding:6px 12px;
    font-size:15px;
    font-weight: normal;
    text-align:center;
}
.page-nav{
    display: flex;
    justify-content: flex-start;
}
.pagination{
    margin:0 0;
}
.div-flex{
    display: flex;
    justify-content: center;
    width:100%;
}
.content-template{
    border: 1px solid #ddd;
    padding:5px 15px;
    width:83.3%;
    border-radius: 4px;
}
.table-td-id{
    text-align: center;
    width: 3%;
}
.table-td-type{
    text-align:center;
    width:7%;
}
.table-td-pattern {
    text-align:center;
    width:7%;
}
.table-td-content{
    padding-left:15px;
}
.table-td-author{
    text-align:center;
    width:7%;
}
.table-td-date{
    text-align:center;
}
.table-th{
    text-align:center;
}

.form-group{
    margin-bottom: 15px;
    display:flex;
}
.label-text{
    display:inline-block;
    min-width: 6%;
    font-weight: bold;
    padding-top: 5px;
}
.note-editor{
    width:100%;
}
.btn-form{
    display: flex;
    justify-content: center;
}