{{>layout/header}}

<h1 xmlns:th="http://www.w3.org/1999/xhtml" style="text-align: center; "><a href="/"> eCross 이슈 게시글 </a></h1>
<div class="div-container">
<div class="row-nav-div">
    <form action="/post/search" method="GET" class="nav-form">
            <div class="column-div">
            <select name = "typeOption" class="select-style ">
                <option value="typeAll">제품군</option>
                <option value="eCross4">eCross4</option>
                <option value="eCross3">eCross3</option>
                <option value="eCrossMX" >eCrossMX</option>
                <option value="WAS" >WAS</option>
                <option value="etc" >기타</option>
            </select>
            </div>
            <div class="column-div">
            <select name = "patternOption" class="select-style">
                <option value="patternAll">카테고리</option>
                <option value="notice">공지사항</option>
                <option value="info">정보</option>
                <option value="error" >에러</option>
                <option value="etc" >기타</option>
            </select>
            </div>
            <div class="column-div">
            <select name = "searchOption" class="select-style">
                <option value="title">제목</option>
                <option value="author">작성자</option>
                <option value="content">내용</option>
                <option value="searchAll" >제목+내용</option>
            </select>
            </div>
            <div class="column-div">
                <input name="keyword" class="input-style" type="text" placeholder="검색어를 입력해주세요."/>
            </div>
            <div class="column-div">
                <button class="search-btn">검색하기</button>
            </div>
    </form>
        <div class="nav-login">
                {{#name}}
                    <span id="user" class="userName">{{name}} 접속 중</span>
                    <a href="/posts/save" role="button" class="btn btn-outline-primary">글 등록</a>
                    <a href="/post/chat" class="btn btn-outline-primary">챗봇방 입장</a>
                    <a href="/logout" class="btn btn-outline-danger" role="button">로그아웃</a>
                {{/name}}
                {{^name}}
                    <a href="/oauth2/authorization/google" class="btn btn-outline-primary" role="button">구글 로그인</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-outline-primary" role="button">네이버 로그인</a>
                {{/name}}
        </div>
    </div>

    <!-- 목록 출력 영역 -->
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th class="table-th" scope="col">번호</th>
            <th class="table-th" scope="col">제품</th>
            <th class="table-th" scope="col">카테고리</th>
            <th class="table-th" scope="col">제목</th>
            <th class="table-th" scope="col">작성자</th>
            <th class="table-th" scope="col">최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td class="table-td-id">{{id}}</td>
                <td class="table-td-type">{{type}}</td>
                <td class="table-td-pattern">{{pattern}}</td>
                <td class="table-td-content"><a href="/posts/contents/{{id}}">{{title}}</a> <span class="comments-cnt-container">{{commentsCnt}}</span></td>
                <td class="table-td-author">{{author}}</td>
                <td class="table-td-date">{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>

    <nav class="page-nav">
        <ul class="pagination">
        {{#pageNumber}}
            <li><a href="/?page={{.}}">{{.}}</a></li>
        {{/pageNumber}}
        </ul>
    </nav>

</div>

{{>layout/footer}}