{{>layout/header}}

<h3 style="text-align: center;">게 시 글</h3>

<div class="col-md-12">
    <div class="col-md-10">
        <form>
            <div class="form-group" style="display:none">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}" readonly>
            </div>
            <div class="form-group" style="display:none">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="author"> 글 타입 </label>
                <input type="text" class="form-control" id="type" value="{{post.type}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content" style= height:420px;" readonly>{{post.content}}</textarea>
            </div>
            {{#post.fileId}}
                <div  class="form-group">
                    <strong>첨부파일 :  </strong>
                    <a href="/download/{{post.fileId}}" role="button" id="btn_download">{{post.filename}}</a>
                </div>
            {{/post.fileId}}
            {{^post.fileId}}
                <div  class="form-group">
                    <strong>첨부파일 : </strong>
                </div>
            {{/post.fileId}}
        </form>
        <a href="/" role="button" class="btn btn-outline-danger">취소</a>
        {{#same}}
            <a href="/posts/update/{{id}}" role="button" class="btn btn-outline-primary" id="btn_update">수정</a>
            <button type="button" class="btn btn-outline-danger" id="btn-delete">삭제</button>
        {{/same}}
        {{^same}}
            <button type="button" class="btn btn-outline-primary" id="btn-update" disabled>수정</button>
            <button type="button" class="btn btn-outline-danger" id="btn-delete" disabled>삭제</button>
        {{/same}}
    </div>
    <!--
    21-01-22 댓글 추가 진행중
    -->
    <div class="col-md-10">
        <label for="commentsContent">댓 글</label>
        <form name="commentsForm">
            <div class="input-group">
                <input type="hidden" name="postId" value={{post.id}}/>
                <input type="text" class="form-control" id="commentsContent" name="commentsContent" placeholder="내용을 입력하세요.">
                <span class="input-group-btn">
                    <button class="form-control" type="button" id="btn-comments-save" name="btn-comments-save">등록</button>
               </span>
            </div>
        </form>
    </div>

    <div class="col-md-10">
        <div class="commentsList"></div>
    </div>
</div>

{{>layout/footer}}